@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Mono&family=Roboto+Slab&display=swap');
/* 
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; 
*/


.App {
  background-color: #455A3E;
  padding: 10px;
}
  
.navdisplay {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1em;
  padding-right: 1.5em;
  color: #455A3E;
}

.nav.navbar-nav a:hover {
color: grey;
}

.title {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  font-size: calc(3rem);
  color: #2F452E;
  font-family: 'Roboto Slab', serif;
}
.whiteText{
  font-size: calc(8rem);
  color: #fff;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.subtitle{
  font-size: 2rem;
  color: white;
}

.body1 {
  display: flex;
  text-align: left;
  color: #2F452E;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
}

Button {
  background-color: #620440;
  color: white;
  font-family: 'Roboto Mono', monospace;
  border: none;
  padding: 0.6rem 1.8em;
  text-align: center;
  display: inline-block;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 1.5rem;
}
button:hover {
  background-color: #C2D1BD;
}

.CTA {
  background-color: #620440;
  color: white;
  font-family: 'Roboto Mono', monospace;
  border: none;
  padding: 0.6rem 1.8em;
  text-align: center;
  display: inline-block;
  margin: 1.5rem;
  cursor: pointer;
  border-radius: 1.5rem;
}

.CTA:hover {
  background-color: #C2D1BD;
}

.LandingPage{
  display: flex;
  height: 600px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: fit-content;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 90px;
}