.App {
    background-color: #f8f2e8;
    padding: 20px;
  }
title {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    font-size: calc(3rem);
    color: #2F452E;
    font-family: 'Roboto Slab', serif;
}
body1 {
    display: flex;
    text-align: left;
    color: #2F452E;
    background-color: #f8f2e8;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.5;
}
.course-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
}
.course-table thead tr {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
.course-table th,
.course-table td {
    padding: 12px 15px;
}